.valid {
    box-shadow: 0 0 1px 1px rgb(66, 185, 66, .65);
    position: relative;
}

.glow-green {
    -webkit-animation: glow-green 500ms linear;
    -moz-animation: glow-green 500ms linear;
    animation: glow-green 500ms linear;
}

@keyframes glow-green {
    0% {
        box-shadow: 0 0 2px 2px rgb(66, 185, 66, 1)
    }
    100% {
        box-shadow: 0 0 0 0 rgb(255, 255, 255, 0)
    }
}

.glow-red {
    -webkit-animation: glow-red 500ms linear;
    -moz-animation: glow-red 500ms linear;
    animation: glow-red 500ms linear;
}

@keyframes glow-red {
    0% {
        box-shadow: 0 0 2px 2px rgba(192, 13, 13, 1)
    }
    100% {
        box-shadow: 0 0 0 0 rgb(255, 255, 255, 0)
    }
}
